* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  font-size: 62.5%;

  --brand-colors-explorer-dark: #065e7c;
}

html,
body,
input {
  font-family: "Mulish", sans-serif;
}

body {
  font-size: 1.6rem;
}

#app {
  display: grid;
  grid-template-rows: max-content 1fr max-content;
  height: 100vh;

  .container {
    width: 100%;
    margin: 0 auto;

    padding: 2rem 2rem;
  }
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.6rem;

  background-color: var(--brand-colors-explorer-dark);
}

.logo {
  width: 4.2rem;
  height: 4.2rem;
}

.avatar {
  width: 4.2rem;
  height: 4.2rem;

  object-fit: cover;
  border-radius: 50%;
}

header form {
  flex: 1;
}

.input-wrapper label {
  width: 1px;
  height: 1px;
  overflow: hidden;
  position: absolute;
}

.input-wrapper input {
  width: 100%;
  padding: 1.6rem;

  border: 0;
  border-radius: 0.25rem;
  font-size: 1.6rem;
  font-weight: 600;
  color: white;

  background: rgba(255, 255, 255, 0.2);
}

.input-wrapper input::placeholder {
  color: white;
}

#hero-img {
  width: 100%;
}

#h1likes {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 0.5rem;

  margin-top: 2rem;
  margin-bottom: 2rem;
}

#h1likes img {
  width: 4rem;
  height: 4rem;

  object-fit: cover;
  border-radius: 50%;

  margin-top: 0.5rem;
}

.image-wrapper {
  padding: 0;
}

main div,
h2 {
  padding: 0 1.4rem;
}

#segunda {
  margin-top: 2.2rem;
}

.mini-artigo {
  margin: 2rem 0;

  display: flex;
}

.mini-artigo img {
  aspect-ratio: 16/9;
  display: block;
  object-fit: contain;
}

.mini-artigo-texto {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
footer {
  background: #387e96;

  margin-top: 2.5rem;
}

footer p {
  text-align: center;
  padding: 1.6rem;
  font-weight: 600;
  color: white;
}

@media (min-width: 1080px) {
  main {
    display: grid;
    grid-template-columns: 2fr 1fr;
  }

  .mini-artigo img {
    aspect-ratio: 16/9;
    display: block;
  }
}
